html {
  font-size: 15px;
}

html, body {
  height: 100%;
  width:  100%;
  padding: 0;
  margin:  0;
  background-color: #fffff8;
  color: #444;
  font-family: "Libre Baskerville", serif;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.title {
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.2rem;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  color: #aaa;
  margin-top: 0.5rem;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  display: block;
  line-height: 1;
}

.text {
  width: 100%;
  vertical-align: baseline;
  font-size: 1rem;
  line-height: 1.2rem;
}

a:link, a:visited { color: inherit; }

.game-container {
  position: relative;
}

.game {
  height: 600px;
  width: 600px;
  background-color: #E9D266;
}

.sprite {
  display: none;
}

.text {
  color: #aaa;
  font-family: 'Press Start 2P', monospace;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
}

.start-screen {
  background-color: #444;
  cursor: pointer;
}

.start-screen .text,
.game-over .text {
  color: #fff;
}

.start-screen > .banner,
.game-over > .banner {
  padding-top: 250px;
}

.start-screen > .banner,
.start-screen > .text,
.game-over > .banner {
  text-align: center;
}

.controls-container {
  padding-top: 80px;
  width: 280px;
  margin: 0 auto;
}

.key {
  font-weight: bold;
  color: #aaa;
}

.key, .space {
  border: 2px solid #aaa;
  padding: 10px;
  border-radius: 4px;
}

.space {
  min-width: 180px;
  display: inline-block;
}

.controls {
  margin-bottom: 20px;
  margin-top: 20px;
}

.game-over {
  display: none;
}
